h1
{
    text-align: center;
    background-color: green;
	color: white;
}
h2
{  text-align: left;
    background-color: white;
	color: black;
}
p
{
    font-family: Verdana;
    font-style: italic;
    color: black;
}      
